.dropdown-menu {
    width: 100px;
    position: absolute;
    top: 69px;
    list-style: none;
    text-align: start;
  }
  
  .dropdown-menu li {
    background: #256ce1;
    margin-left: -58px;

    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background: #5cabff;
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 85%;
    text-decoration: none;
    color: #fff;
    padding: 12px;
    font-size: 16px;
    font-weight: bold; 
  }
  
  @media screen and (max-width: 1100px) {
    .fa-caret-down {
      display: none;
    }
  }

