.App {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height:100vh;
    justify-content:center;
    background-color: palegreen;
    
  }

  

.header-style, .loginToAccount, .createHeader{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.login-page, .register-style {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content:center;
  width: 400px;
}

.login-button {
  display: flex;
  flex-direction: right;
  justify-content: right;
  margin: 16px;
  align-items: center;
  margin-right: 70px;
}



.buttonReg, .error, .buttonLog {
  display: flex;
    flex-direction: column;
    align-items: left;
    margin: 5px;
    margin-left: 70px;
    margin-right: 70px;
}

.navAccount {
  width: 500px;
    display: flex;
    margin-left: 110px;
    justify-content: left;

}

.navLogin {
    width: 500px;
    display: flex;
    margin-right: 150px;
    justify-content: right;

}


  .emailFormat, .passwordFormat, .regEmailFormat, .regPassFormat, .nameFormat {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 5px;
    margin-left: 70px;
    margin-right: 70px;

  }

  label {
    text-align: left;
    padding: 1rem, 0;

  }

  .googleAuth {
    padding: 50px;
    text-align: left;
    margin-left: 20px;;
  }

  .nav {
    list-style-type: none;
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    
  }
