.NavMenu {
    height: 80px;
    display: 'flex';
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    padding-top: 80px;
    padding: inherit;
}


.tree {
    padding-top: 110px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.welcome-banner {
    padding-top: 80px;
    display: flex;
    position: fixed;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.carbon-score {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.num-activites {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.Background {
    border-radius: 10px;
    padding: 7px 15px;
    background-color: #90ee90;
}

.Background3 {
    border-radius: 10px;
    padding: 20px 20px;
    background-color: #90ee90;
}

.header {
    display: flex;
    margin: 0 auto;
}


